<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="light dark" />
<title>Index of /code</title>
<link href="/static/index-style.css" rel="stylesheet">
<link href="/static/favicon.ico" rel="stylesheet">
</head>
<body>
<h1>Index of /code</h1>
<ul>
<li class="python">
<span class="icon"></span>
<a href="{{ path }}/test.py">{{ path }}/test.py</a>
</li>
</ul>
</body>
</html>
